In [2]:
from utilities import process_all_files_from_directory
import pandas as pd
import numpy as np
import os
# import pyarrow

In [3]:
Data_Quality_Indicator = 'C:/Users/jkumava/Downloads/PCRM/1008128171/RCP_26/ID_1008128171_Data Quality Indicator.csv'
base_path = os.path.dirname(Data_Quality_Indicator)
comp_id = "ID_1008128171"

In [4]:
df_import_years = pd.DataFrame( [
	{
		"year" : 2030,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2050,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2035,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2040,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2045,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2025,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2030,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2050,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2100,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2023,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2023,
		"active" : 1,
		"table_name" : "global"
	},
    {
		"year" : 2027,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2028,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2022,
		"active" : 1,
		"table_name" : "global"
	}
])
df_import_years

    year  active table_name
0   2030       1     damage
1   2050       1     damage
2   2035       1     damage
3   2040       1     damage
4   2045       1     damage
5   2025       1     damage
6   2030       1     global
7   2050       1     global
8   2100       1     global
9   2023       1     damage
10  2023       1     global
11  2027       1     global
12  2028       1     global
13  2022       1     global

In [5]:
df_full = pd.read_csv("df_full_calculated.csv")#,engine='pyarrow',dtype_backend='pyarrow')
df_full.head()

,Scenario,sustcompanyid,Country,peergroup,hazard_type,Year,sum_hazard_risk,avg_hazard_risk,CompanyName,count_assets_with_asset_damage_risk,...,ReplacementCost,Turnover,total_assets_count,clientindustryid,clientindustryname,percent_of_assets_in_country,weighted_avg_hazard_risk,weighted_prodloss,weighted_productive_capacity_loss_days,indirect_probability
0,RCP2.6,1008128171,ARE,Precious Metals,Coastal Inundation,2022,0.000000,0.000000,Barrick Gold Corp.,0,...,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.000000e+00,0.000000e+00,0.000000,0.001993
1,RCP2.6,1008128171,ARE,Precious Metals,Cyclone Wind,2022,0.000003,0.000003,Barrick Gold Corp.,0,...,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,4.442539e-09,4.286285e-10,0.053175,0.001993
2,RCP2.6,1008128171,ARE,Precious Metals,Extreme Heat,2022,0.000000,0.000000,Barrick Gold Corp.,0,...,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.000000e+00,4.665946e-06,578.854853,0.001988
3,RCP2.6,1008128171,ARE,Precious Metals,Extreme Wind,2022,0.000047,0.000047,Barrick Gold Corp.,0,...,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,7.989708e-08,5.836462e-09,0.724069,0.001993
4,RCP2.6,1008128171,ARE,Precious Metals,Flooding,2022,0.000000,0.000000,Barrick Gold Corp.,0,...,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.000000e+00,0.000000e+00,0.000000,0.001993

In [6]:
active_import_years = df_import_years.query("active == True and table_name == 'damage'")['year']
active_import_years

0    2030
1    2050
2    2035
3    2040
4    2045
5    2025
9    2023
Name: year, dtype: int64

In [8]:
fc = df_full[df_full['Year'].isin(active_import_years)]
fc = fc.query("(peergroup not in ['Insurance', 'Banks', 'Diversified Financials', 'Real Estate'] ) and Year > 2020 and Year < 2051")

In [13]:
fc_grouped = fc_grouped = fc.groupby(['sustcompanyid', 'Scenario', 'Country', 'Year']).agg(
    productive_capacity_loss=('productive_capacity_loss', 'sum'),
    country_asset_damage_risk=('avg_hazard_risk', 'sum')
).reset_index()

In [14]:
import_years =  (2030,2050,2100,2045,2035,2040,2025,2022,2027,2023,2028)

In [15]:
fc_grouped.head()

,sustcompanyid,Scenario,Country,Year,productive_capacity_loss,country_asset_damage_risk
0,1008128171,RCP2.6,ARE,2023,0.002724,0.000049
1,1008128171,RCP2.6,ARE,2025,0.002724,0.000050
2,1008128171,RCP2.6,ARE,2030,0.002724,0.000051
3,1008128171,RCP2.6,ARE,2035,0.002724,0.000052
4,1008128171,RCP2.6,ARE,2040,0.002724,0.000053

In [11]:
# Correct_code

# fmi_df = pd.read_csv(base_path+f'/{comp_id}_First Mile Indicator.csv',engine='pyarrow',dtype_backend='pyarrow')

# fmi_df['entity_id'] = fmi_df['CompanyID'].str.replace('ID_','').astype(int)
# fmi_df['FMI'] = pd.to_numeric(fmi_df['FMI'], errors='coerce')

# fmi_df = fmi_df[fmi_df['Year'].isin(import_years)].reset_index(drop=True)
# fmi_df

In [16]:
fmi_df = pd.read_csv(base_path+f'/{comp_id}_First Mile Indicator.csv')
fmi_df['entity_id'] = fmi_df['CompanyID'].str.replace('ID_','').astype(int)
fmi_df['FMI'] = pd.to_numeric(fmi_df['FMI'], errors='coerce')

fmi_df = fmi_df[fmi_df['Year'].isin(import_years)].reset_index(drop=True)
fmi_df = fmi_df.rename(columns = {'country': 'Country', "year" : "Year" ,'scenario_code' : 'Scenario','fmi':'FMI'} )

fmi_df

,Scenario,CompanyID,CompanyName,Country,Year,FMI,entity_id
0,RCP2.6,ID_1008128171,Barrick Gold Corp.,ARE,2022,0.001993,1008128171
1,RCP2.6,ID_1008128171,Barrick Gold Corp.,ARE,2023,0.002134,1008128171
2,RCP2.6,ID_1008128171,Barrick Gold Corp.,ARE,2025,0.002413,1008128171
3,RCP2.6,ID_1008128171,Barrick Gold Corp.,ARE,2027,0.002793,1008128171
4,RCP2.6,ID_1008128171,Barrick Gold Corp.,ARE,2028,0.002981,1008128171
...,...,...,...,...,...,...,...
479,RCP2.6,ID_1008128171,Barrick Gold Corp.,ZMB,2035,0.009765,1008128171
480,RCP2.6,ID_1008128171,Barrick Gold Corp.,ZMB,2040,0.010616,1008128171
481,RCP2.6,ID_1008128171,Barrick Gold Corp.,ZMB,2045,0.011426,1008128171
482,RCP2.6,ID_1008128171,Barrick Gold Corp.,ZMB,2050,0.012038,1008128171
483,RCP2.6,ID_1008128171,Barrick Gold Corp.,ZMB,2100,0.012292,1008128171

In [17]:
p = fmi_df[['entity_id','Scenario', 'Country', 'Year', 'FMI']].copy()

In [20]:
p = p.merge(fc_grouped, left_on=['entity_id', 'Country', 'Year', 'Scenario'], right_on=['sustcompanyid', 'Country', 'Year', 'Scenario'])

In [21]:
p['indirect_probability'] = p['FMI'] - p['productive_capacity_loss'] * p['FMI']

In [23]:
final_result = p[['entity_id', 'Year', 'Country', 'Scenario', 'FMI', 'country_asset_damage_risk', 'productive_capacity_loss', 'indirect_probability']]

In [24]:
final_result.to_csv('p_calculated.csv',index=False)

In [26]:
# z = p[['entity_id', 'Year', 'Country', 'Scenario', 'indirect_probability']]
# z['lead_year'] = z.groupby(['entity_id', 'Scenario', 'Country'])['Year'].shift(-1)
# z['lead_indirect_probability'] = z.groupby(['entity_id', 'Scenario', 'Country'])['indirect_probability'].shift(-1)

In [20]:
# interp_country_indirect_probability_set = interp_country_indirect_probability_set.rename(
#     columns={'interp_year': 'phys_year', 'interp_value': 'interp_indirect_probability'}
# )
# interp_country_indirect_probability_set = interp_country_indirect_probability_set.drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'phys_year']).reset_index(drop=True)
# interp_country_indirect_probability_set

In [21]:
# interp_country_indirect_probability_set[interp_country_indirect_probability_set['country']=='ARE']

In [27]:
'''select sustcompanyid , revenue_avg_usd , gppe_avg_usd
        from xdi_input.company_global_ppe  
'''
company_global_ppe = pd.read_csv('C:/Users/jkumava/Downloads/PCRM/company_global_ppe_202407111106.csv')
company_global_ppe = company_global_ppe[company_global_ppe['fl_deleted']!=True][['sustcompanyid' , 'revenue_avg_usd' , 'gppe_avg_usd']]
company_global_ppe

       sustcompanyid  revenue_avg_usd  gppe_avg_usd
0         2000140868              NaN  2.087653e+07
1         1008049895     4.827023e+09  2.286134e+09
2         1008177948     2.672657e+09  1.771314e+09
3         2001722369              NaN  8.221802e+06
4         2004493237              NaN  2.191915e+08
...              ...              ...           ...
46718     2000505558              NaN  2.595591e+08
46719     2000181128              NaN  1.734592e+05
46720     2001710123              NaN  2.846011e+07
46721     2001226080              NaN  1.342919e+05
46722     2009598471              NaN  6.697105e+05

[46723 rows x 3 columns]

In [23]:
# def get_interpolation(start_year, end_year, start_val, end_val):
#     years = np.arange(start_year, end_year + 1)
#     print(len(years))
#     if start_val != end_val:
#         values = np.linspace(start_val, end_val, len(years))
#     else:
#         values = np.full(len(years), start_val)
#     return pd.DataFrame({'interp_year': years, 'interp_value': values})

In [28]:
def get_interpolation(start_year, end_year, start_val, end_val):
    if start_year <= end_year:
        years = np.arange(start_year, end_year + 1)
        if start_val != end_val:
            values = np.linspace(start_val, end_val, len(years))
        else:
            values = np.full(len(years), start_val)
        return pd.DataFrame({'interp_year': years, 'interp_value': values})
    else:
        return pd.DataFrame()

## xdi_processing.udf_get_damage_interpolated_per_entity( entity_id)

In [29]:
p = p.rename(columns= {'productive_capacity_loss':'country_productive_capacity_loss'})

In [31]:
country_asset_damage_risk = p.copy()
country_asset_damage_risk['lead_year'] = country_asset_damage_risk.groupby(['entity_id', 'Scenario', 'Country'])['Year'].shift(-1)
country_asset_damage_risk['lead_country_asset_damage_risk'] = country_asset_damage_risk.groupby(['entity_id', 'Scenario', 'Country'])['country_asset_damage_risk'].shift(-1)

In [32]:
p.head()

,entity_id,Scenario,Country,Year,FMI,sustcompanyid,country_productive_capacity_loss,country_asset_damage_risk,indirect_probability
0,1008128171,RCP2.6,ARE,2023,0.002134,1008128171,0.002724,0.000049,0.002128
1,1008128171,RCP2.6,ARE,2025,0.002413,1008128171,0.002724,0.000050,0.002407
2,1008128171,RCP2.6,ARE,2030,0.003351,1008128171,0.002724,0.000051,0.003342
3,1008128171,RCP2.6,ARE,2035,0.005072,1008128171,0.002724,0.000052,0.005058
4,1008128171,RCP2.6,ARE,2040,0.006466,1008128171,0.002724,0.000053,0.006449

In [34]:
interp_country_asset_damage_risk_set = pd.concat([
    get_interpolation(row['Year'], row['lead_year'] if row['lead_year'] is not None else row['Year'],
                      row['country_asset_damage_risk'], row['lead_country_asset_damage_risk'] if row['lead_country_asset_damage_risk'] is not None else row['country_asset_damage_risk'])
    .assign(entity_id=row['entity_id'], scenario_code=row['Scenario'], country=row['Country'])
    for _, row in country_asset_damage_risk.iterrows()
])

In [35]:
interp_country_asset_damage_risk_set = interp_country_asset_damage_risk_set.rename(
    columns={'interp_year': 'phys_year', 'interp_value': 'interp_country_asset_damage_risk'}
)
interp_country_asset_damage_risk_set = interp_country_asset_damage_risk_set.drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'phys_year']).reset_index(drop=True)
interp_country_asset_damage_risk_set

,phys_year,interp_country_asset_damage_risk,entity_id,scenario_code,country
0,2023.0,0.000049,1008128171,RCP2.6,ARE
1,2024.0,0.000050,1008128171,RCP2.6,ARE
2,2025.0,0.000050,1008128171,RCP2.6,ARE
3,2026.0,0.000050,1008128171,RCP2.6,ARE
4,2027.0,0.000050,1008128171,RCP2.6,ARE
...,...,...,...,...,...
1227,2046.0,0.000084,1008128171,RCP2.6,ZMB
1228,2047.0,0.000087,1008128171,RCP2.6,ZMB
1229,2048.0,0.000091,1008128171,RCP2.6,ZMB
1230,2049.0,0.000094,1008128171,RCP2.6,ZMB
1231,2050.0,0.000098,1008128171,RCP2.6,ZMB

In [36]:
country_productive_capacity_loss = p.copy()
country_productive_capacity_loss['lead_year'] = country_productive_capacity_loss.groupby(['entity_id', 'Scenario', 'Country'])['Year'].shift(-1)
country_productive_capacity_loss['lead_country_productive_capacity_loss'] = country_productive_capacity_loss.groupby(['entity_id', 'Scenario', 'Country'])['country_productive_capacity_loss'].shift(-1)

# Step 2: Apply the get_interpolation function and concatenate results
interp_country_productive_capacity_loss_set = pd.concat([
    get_interpolation(
        row['Year'], 
        row['lead_year'] if row['lead_year'] is not None else row['Year'],
        row['country_productive_capacity_loss'], 
        row['lead_country_productive_capacity_loss'] if row['lead_country_productive_capacity_loss'] is not None else row['country_productive_capacity_loss']
    ).assign(entity_id=row['entity_id'], scenario_code=row['Scenario'], country=row['Country'])
    for _, row in country_productive_capacity_loss.iterrows()
])

In [37]:
interp_country_productive_capacity_loss_set.columns

Index(['interp_year', 'interp_value', 'entity_id', 'scenario_code', 'country'], dtype='object')

In [39]:
country_productive_capacity_loss.columns

Index(['entity_id', 'Scenario', 'Country', 'Year', 'FMI', 'sustcompanyid',
       'country_productive_capacity_loss', 'country_asset_damage_risk',
       'indirect_probability', 'lead_year',
       'lead_country_productive_capacity_loss'],
      dtype='object')

In [40]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set.merge(
    country_productive_capacity_loss[['entity_id', 'Scenario', 'Country', 'Year', 'lead_year']],
    left_on=['entity_id', 'scenario_code', 'country', 'interp_year'],
    right_on=['entity_id', 'Scenario', 'Country', 'Year'],
    how='left'
)

In [41]:
interp_country_productive_capacity_loss_set

,interp_year,interp_value,entity_id,scenario_code,country,Scenario,Country,Year,lead_year
0,2023.0,0.002724,1008128171,RCP2.6,ARE,RCP2.6,ARE,2023.0,2025.0
1,2024.0,0.002724,1008128171,RCP2.6,ARE,NaN,NaN,NaN,NaN
2,2025.0,0.002724,1008128171,RCP2.6,ARE,RCP2.6,ARE,2025.0,2030.0
3,2025.0,0.002724,1008128171,RCP2.6,ARE,RCP2.6,ARE,2025.0,2030.0
4,2026.0,0.002724,1008128171,RCP2.6,ARE,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1447,2046.0,0.000049,1008128171,RCP2.6,ZMB,NaN,NaN,NaN,NaN
1448,2047.0,0.000053,1008128171,RCP2.6,ZMB,NaN,NaN,NaN,NaN
1449,2048.0,0.000058,1008128171,RCP2.6,ZMB,NaN,NaN,NaN,NaN
1450,2049.0,0.000062,1008128171,RCP2.6,ZMB,NaN,NaN,NaN,NaN
1451,2050.0,0.000066,1008128171,RCP2.6,ZMB,RCP2.6,ZMB,2050.0,NaN

In [42]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set[
    (interp_country_productive_capacity_loss_set['lead_year'].isnull()) | 
    (interp_country_productive_capacity_loss_set['lead_year'] != interp_country_productive_capacity_loss_set['interp_year'])
]

In [43]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set.drop(columns=['Year', 'lead_year','Country']).drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'interp_year']).reset_index(drop=True)
interp_country_productive_capacity_loss_set

      interp_year  interp_value   entity_id scenario_code country Scenario
0          2023.0      0.002724  1008128171        RCP2.6     ARE   RCP2.6
1          2024.0      0.002724  1008128171        RCP2.6     ARE      NaN
2          2025.0      0.002724  1008128171        RCP2.6     ARE   RCP2.6
3          2026.0      0.002724  1008128171        RCP2.6     ARE      NaN
4          2027.0      0.002724  1008128171        RCP2.6     ARE      NaN
...           ...           ...         ...           ...     ...      ...
1227       2046.0      0.000049  1008128171        RCP2.6     ZMB      NaN
1228       2047.0      0.000053  1008128171        RCP2.6     ZMB      NaN
1229       2048.0      0.000058  1008128171        RCP2.6     ZMB      NaN
1230       2049.0      0.000062  1008128171        RCP2.6     ZMB      NaN
1231       2050.0      0.000066  1008128171        RCP2.6     ZMB   RCP2.6

[1232 rows x 6 columns]

In [44]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set.rename(
    columns={'interp_year': 'phys_year', 'interp_value': 'interp_country_productive_capacity_loss'}
)[['entity_id', 'scenario_code', 'country', 'phys_year', 'interp_country_productive_capacity_loss']]

In [45]:
interp_country_productive_capacity_loss_set['phys_year'] = interp_country_productive_capacity_loss_set['phys_year'].astype(int)

In [46]:
interp_country_productive_capacity_loss_set[interp_country_productive_capacity_loss_set['country']=='ARE']

,entity_id,scenario_code,country,phys_year,interp_country_productive_capacity_loss
0,1008128171,RCP2.6,ARE,2023,0.002724
1,1008128171,RCP2.6,ARE,2024,0.002724
2,1008128171,RCP2.6,ARE,2025,0.002724
3,1008128171,RCP2.6,ARE,2026,0.002724
4,1008128171,RCP2.6,ARE,2027,0.002724
5,1008128171,RCP2.6,ARE,2028,0.002724
6,1008128171,RCP2.6,ARE,2029,0.002724
7,1008128171,RCP2.6,ARE,2030,0.002724
8,1008128171,RCP2.6,ARE,2031,0.002724
9,1008128171,RCP2.6,ARE,2032,0.002724
10,1008128171,RCP2.6,ARE,2033,0.002724
11,1008128171,RCP2.6,ARE,2034,0.002724
12,1008128171,RCP2.6,ARE,2035,0.002724
13,1008128171,RCP2.6,ARE,2036,0.002724
14,1008128171,RCP2.6,ARE,2037,0.002724
15,1008128171,RCP2.6,ARE,2038,0.002724
16,1008128171,RCP2.6,ARE,2039,0.002724
17,1008128171,RCP2.6,ARE,2040,0.002724
18,1008128171,RCP2.6,ARE,2041,0.002724
19,1008128171,RCP2.6,ARE,2042,0.002724
20,1008128171,RCP2.6,ARE,2043,0.002724
21,1008128171,RCP2.6,ARE,2044,0.002724
22,1008128171,RCP2.6,ARE,2045,0.002724
23,1008128171,RCP2.6,ARE,2046,0.002724
24,1008128171,RCP2.6,ARE,2047,0.002724
25,1008128171,RCP2.6,ARE,2048,0.002724
26,1008128171,RCP2.6,ARE,2049,0.002724
27,1008128171,RCP2.6,ARE,2050,0.002724

In [48]:
# first_mile_indicator DataFrame
first_mile_indicator = p.rename(columns = {'Country':'country' ,"Year" : "year"    
}).copy()
first_mile_indicator['lead_year'] = first_mile_indicator.groupby(['entity_id', 'Scenario', 'country'])['year'].shift(-1)
first_mile_indicator['lead_fmi'] = first_mile_indicator.groupby(['entity_id', 'Scenario', 'country'])['FMI'].shift(-1)

# interp_fmi_treated_set DataFrame
interp_fmi_treated_set = pd.concat([
    get_interpolation(row['year'], row['lead_year'] if row['lead_year'] is not None else row['year'],
                      row['FMI'], row['lead_fmi'] if row['lead_fmi'] is not None else row['fmi'])
    .assign(entity_id=row['entity_id'], scenario_code=row['Scenario'], country=row['country'])
    for _, row in first_mile_indicator.iterrows()
])
interp_fmi_treated_set = interp_fmi_treated_set.rename(
    columns={'interp_year': 'phys_year', 'interp_value': 'interp_FMI'}
)
interp_fmi_treated_set = interp_fmi_treated_set.drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'phys_year']).reset_index(drop=True)
interp_fmi_treated_set

      phys_year  interp_FMI   entity_id scenario_code country
0        2023.0    0.002134  1008128171        RCP2.6     ARE
1        2024.0    0.002274  1008128171        RCP2.6     ARE
2        2025.0    0.002413  1008128171        RCP2.6     ARE
3        2026.0    0.002601  1008128171        RCP2.6     ARE
4        2027.0    0.002788  1008128171        RCP2.6     ARE
...         ...         ...         ...           ...     ...
1227     2046.0    0.011549  1008128171        RCP2.6     ZMB
1228     2047.0    0.011671  1008128171        RCP2.6     ZMB
1229     2048.0    0.011794  1008128171        RCP2.6     ZMB
1230     2049.0    0.011916  1008128171        RCP2.6     ZMB
1231     2050.0    0.012038  1008128171        RCP2.6     ZMB

[1232 rows x 5 columns]

## Need confirmation that will be is from DB or from XDI?

In [49]:
company_segmented_country_averages = pd.read_csv('C:/Users/jkumava/Downloads/PCRM/company_segmented_country_averages_202407141433.csv')
company_segmented_country_averages = company_segmented_country_averages[company_segmented_country_averages ['fl_deleted']!=True].reset_index(drop=True)
company_segmented_country_averages.head()

,sustcompanyid,segment_data_point,iso3,country_segmented_avg_usd,dt_created,dt_updated,fl_deleted
0,1012672201,Total Revenue,BMU,2.204246e+08,2024-01-15 10:12:38.789,2024-02-01 08:40:20.466,NaN
1,1012672201,Total Revenue,GBR,1.020541e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
2,1012672201,Total Revenue,IRL,1.195213e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
3,1012672201,Total Revenue,USA,2.747256e+09,2023-07-21 12:22:46.545,2024-03-27 13:44:15.137,NaN
4,1008262227,Total Assets,CHN,2.304621e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN

In [40]:
company_segmented_country_averages[company_segmented_country_averages['sustcompanyid'] == 1008128171]

,sustcompanyid,segment_data_point,iso3,country_segmented_avg_usd,dt_created,dt_updated,fl_deleted
1015,1008128171,Total Assets,ARG,2.091447e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1016,1008128171,Total Assets,CAN,6.678748e+08,2023-07-21 12:22:46.545,2024-03-05 11:47:06.875,NaN
1017,1008128171,Total Assets,CHL,2.635709e+09,2023-07-21 12:22:46.545,2024-03-22 16:24:21.462,NaN
1018,1008128171,Total Assets,CIV,2.790496e+08,2023-07-21 12:22:46.545,2024-03-27 13:44:15.137,NaN
1019,1008128171,Total Assets,COD,4.112607e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1020,1008128171,Total Assets,DOM,6.073788e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1021,1008128171,Total Assets,MLI,5.799777e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1022,1008128171,Total Assets,PAK,9.330023e+08,2024-01-15 10:12:38.789,2024-02-01 08:40:20.466,NaN
1023,1008128171,Total Assets,PER,1.686161e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1024,1008128171,Total Assets,PNG,4.471623e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1025,1008128171,Total Assets,SAU,5.036560e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1026,1008128171,Total Assets,TZA,2.388953e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1027,1008128171,Total Assets,USA,2.183621e+10,2023-07-21 12:22:46.545,2024-03-27 13:44:15.137,NaN
1028,1008128171,Total Assets,ZMB,2.415254e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1029,1008128171,Total Revenue,ARG,3.847010e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1030,1008128171,Total Revenue,CAN,3.351664e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1031,1008128171,Total Revenue,CIV,4.429820e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1032,1008128171,Total Revenue,DOM,1.587345e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1033,1008128171,Total Revenue,MLI,1.316959e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1034,1008128171,Total Revenue,PER,1.154748e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1035,1008128171,Total Revenue,PNG,1.583064e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1036,1008128171,Total Revenue,TZA,1.159394e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1037,1008128171,Total Revenue,USA,6.439749e+09,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN
1038,1008128171,Total Revenue,ZMB,8.983666e+08,2023-07-21 12:22:46.545,2024-02-01 08:40:20.466,NaN

In [50]:
asset_country_averages = company_segmented_country_averages[
    (company_segmented_country_averages['segment_data_point'] == 'Total Assets')][['sustcompanyid', 'iso3', 'country_segmented_avg_usd']]
asset_country_averages

        sustcompanyid iso3  country_segmented_avg_usd
4          1008262227  CHN               2.304621e+08
5          1008262227  USA               1.252210e+08
29         2001089921  USA               4.879108e+06
30         1008130834  AUS               1.344329e+06
31         1008130834  BRA               1.519616e+06
...               ...  ...                        ...
782713     2015315261  TWN               2.283954e+07
782714     2015315261  USA               1.675626e+09
783100     2015457395  CAN               2.877411e+07
783101     2015457395  ISR               4.333659e+07
783328     2008804426  USA               2.865000e+04

[237804 rows x 3 columns]

In [51]:
revenue_country_averages = company_segmented_country_averages[
    (company_segmented_country_averages['segment_data_point'] == 'Total Revenue')][['sustcompanyid', 'iso3', 'country_segmented_avg_usd']]
revenue_country_averages = revenue_country_averages.rename(columns={'country_segmented_avg_usd': 'avg_country_revenue_usd'})
revenue_country_averages

        sustcompanyid iso3  avg_country_revenue_usd
0          1012672201  BMU             2.204246e+08
1          1012672201  GBR             1.020541e+09
2          1012672201  IRL             1.195213e+09
3          1012672201  USA             2.747256e+09
6          1008262227  AUS             6.135508e+05
...               ...  ...                      ...
783324     2013352512  SAU             4.280366e+05
783325     2013352512  TUR             3.853849e+05
783326     2013352512  TWN             4.817194e+06
783327     2013352512  USA             1.091376e+07
783329     2000896577  ITA             2.006981e+08

[545526 rows x 3 columns]

In [52]:
assets_and_revenue_averages = pd.merge(
    asset_country_averages,
    revenue_country_averages,
    on=['sustcompanyid', 'iso3'],
    how='inner'
)
assets_and_revenue_averages

        sustcompanyid iso3  country_segmented_avg_usd  avg_country_revenue_usd
0          1008262227  CHN               2.304621e+08             5.598191e+07
1          1008262227  USA               1.252210e+08             1.541918e+07
2          1008130834  AUS               1.344329e+06             4.664692e+06
3          1008130834  BRA               1.519616e+06             5.529763e+06
4          1008130834  CAN               1.002330e+08             5.731637e+06
...               ...  ...                        ...                      ...
212119     2015315261  TUR               2.665958e+06             9.465449e+05
212120     2015315261  TWN               2.283954e+07             8.109148e+06
212121     2015315261  USA               1.675626e+09             3.516189e+09
212122     2015457395  CAN               2.877411e+07             5.442902e+05
212123     2015457395  ISR               4.333659e+07             6.588738e+03

[212124 rows x 4 columns]

In [53]:
global_assets_and_revenue_averages = assets_and_revenue_averages.groupby('sustcompanyid')['country_segmented_avg_usd'].sum().reset_index()
global_assets_and_revenue_averages = global_assets_and_revenue_averages.rename(columns={'country_segmented_avg_usd': 'global_assets_country_segmented_avg_usd'})

In [54]:
global_assets_and_revenue_averages

       sustcompanyid  global_assets_country_segmented_avg_usd
0         1007896773                             3.961547e+10
1         1007896917                             2.658466e+09
2         1007896995                             4.295158e+11
3         1007897253                             4.288860e+10
4         1007897295                             3.233720e+12
...              ...                                      ...
17019     2015315261                             2.084026e+09
17020     2015415325                             3.025755e+07
17021     2015438304                             1.087934e+07
17022     2015457395                             7.211070e+07
17023     2015483645                             1.548400e+07

[17024 rows x 2 columns]

In [55]:
assets_and_revenue_averages_final = pd.merge(
    assets_and_revenue_averages,
    global_assets_and_revenue_averages,
    on='sustcompanyid',
    how='inner'
)

In [56]:
assets_and_revenue_averages_final['avg_country_asset_proportion'] = (
    assets_and_revenue_averages_final['country_segmented_avg_usd'] / 
    assets_and_revenue_averages_final['global_assets_country_segmented_avg_usd']
)

In [57]:
assets_and_revenue_averages_final

,sustcompanyid,iso3,country_segmented_avg_usd,avg_country_revenue_usd,global_assets_country_segmented_avg_usd,avg_country_asset_proportion
0,1008262227,CHN,2.304621e+08,5.598191e+07,3.556832e+08,0.647942
1,1008262227,USA,1.252210e+08,1.541918e+07,3.556832e+08,0.352058
2,1008130834,AUS,1.344329e+06,4.664692e+06,1.142317e+09,0.001177
3,1008130834,BRA,1.519616e+06,5.529763e+06,1.142317e+09,0.001330
4,1008130834,CAN,1.002330e+08,5.731637e+06,1.142317e+09,0.087745
...,...,...,...,...,...,...
212119,2015315261,TUR,2.665958e+06,9.465449e+05,2.084026e+09,0.001279
212120,2015315261,TWN,2.283954e+07,8.109148e+06,2.084026e+09,0.010959
212121,2015315261,USA,1.675626e+09,3.516189e+09,2.084026e+09,0.804033
212122,2015457395,CAN,2.877411e+07,5.442902e+05,7.211070e+07,0.399027
212123,2015457395,ISR,4.333659e+07,6.588738e+03,7.211070e+07,0.600973

In [58]:
assets_and_revenue_averages_final.columns

Index(['sustcompanyid', 'iso3', 'country_segmented_avg_usd',
       'avg_country_revenue_usd', 'global_assets_country_segmented_avg_usd',
       'avg_country_asset_proportion'],
      dtype='object')

In [59]:
df = interp_country_asset_damage_risk_set.merge(
    interp_country_productive_capacity_loss_set,
    on=['entity_id', 'scenario_code', 'country', 'phys_year'],
    how='outer',
    suffixes=('_ias', '_ips') 
).merge(
    interp_fmi_treated_set,
    on=['entity_id', 'scenario_code', 'country', 'phys_year'],
    how='outer',
    suffixes=('', '_iis')
).merge(
    assets_and_revenue_averages_final,
    left_on=['entity_id', 'country'],
    right_on=['sustcompanyid', 'iso3'],
    how='left'
).merge(
    company_global_ppe,
    left_on='entity_id',
    right_on='sustcompanyid',
    how='left'
)

In [60]:
assets_and_revenue_averages_final[assets_and_revenue_averages_final['sustcompanyid']==1008128171]

,sustcompanyid,iso3,country_segmented_avg_usd,avg_country_revenue_usd,global_assets_country_segmented_avg_usd,avg_country_asset_proportion
361,1008128171,ARG,2.091447e+09,3.847010e+08,4.216814e+10,0.049598
362,1008128171,CAN,6.678748e+08,3.351664e+08,4.216814e+10,0.015838
363,1008128171,CIV,2.790496e+08,4.429820e+08,4.216814e+10,0.006618
364,1008128171,DOM,6.073788e+09,1.587345e+09,4.216814e+10,0.144037
365,1008128171,MLI,5.799777e+09,1.316959e+09,4.216814e+10,0.137539
366,1008128171,PER,1.686161e+08,1.154748e+08,4.216814e+10,0.003999
367,1008128171,PNG,4.471623e+08,1.583064e+08,4.216814e+10,0.010604
368,1008128171,TZA,2.388953e+09,1.159394e+09,4.216814e+10,0.056653
369,1008128171,USA,2.183621e+10,6.439749e+09,4.216814e+10,0.517837
370,1008128171,ZMB,2.415254e+09,8.983666e+08,4.216814e+10,0.057277

In [61]:
df['expected_indirect_loss_amount_series_undiscounted'] = np.where(
    (df['revenue_avg_usd'] < 0) | (df['gppe_avg_usd'] < 0) | (df['avg_country_revenue_usd'] < 0), 
    np.nan, 
    (df['interp_FMI'] - df['interp_country_productive_capacity_loss'] * df['interp_FMI']) * df['avg_country_revenue_usd']
)

df['expected_indirect_loss_amount_series_discounted'] = df['expected_indirect_loss_amount_series_undiscounted'] / (1.07**(df['phys_year'] - 2021))

df['expected_revenue_loss_amount_series_undiscounted'] = np.where(
    (df['revenue_avg_usd'] < 0) | (df['gppe_avg_usd'] < 0) | (df['avg_country_revenue_usd'] < 0), 
    np.nan, 
    df['interp_country_productive_capacity_loss'] * df['avg_country_revenue_usd']
)

df['expected_revenue_loss_amount_series_discounted'] = df['expected_revenue_loss_amount_series_undiscounted'] / (1.07**(df['phys_year'] - 2021))

df['expected_asset_damage_loss_amount_series_undiscounted'] = np.where(
    (df['revenue_avg_usd'] < 0) | (df['gppe_avg_usd'] < 0), 
    np.nan, 
    df['interp_country_asset_damage_risk'] * df['gppe_avg_usd'] * df['avg_country_asset_proportion']
)

df['expected_asset_damage_loss_amount_series_discounted'] = df['expected_asset_damage_loss_amount_series_undiscounted'] / (1.07**(df['phys_year'] - 2021))

In [62]:
final_df = df[[
    'entity_id', 'scenario_code', 'phys_year', 'country',
    'expected_indirect_loss_amount_series_undiscounted',
    'expected_indirect_loss_amount_series_discounted',
    'expected_revenue_loss_amount_series_undiscounted',
    'expected_revenue_loss_amount_series_discounted',
    'expected_asset_damage_loss_amount_series_undiscounted',
    'expected_asset_damage_loss_amount_series_discounted',
    'interp_country_productive_capacity_loss'
]]
final_df

,entity_id,scenario_code,phys_year,country,expected_indirect_loss_amount_series_undiscounted,expected_indirect_loss_amount_series_discounted,expected_revenue_loss_amount_series_undiscounted,expected_revenue_loss_amount_series_discounted,expected_asset_damage_loss_amount_series_undiscounted,expected_asset_damage_loss_amount_series_discounted,interp_country_productive_capacity_loss
0,1008128171,RCP2.6,2023.0,ARE,NaN,NaN,NaN,NaN,NaN,NaN,0.002724
1,1008128171,RCP2.6,2024.0,ARE,NaN,NaN,NaN,NaN,NaN,NaN,0.002724
2,1008128171,RCP2.6,2025.0,ARE,NaN,NaN,NaN,NaN,NaN,NaN,0.002724
3,1008128171,RCP2.6,2026.0,ARE,NaN,NaN,NaN,NaN,NaN,NaN,0.002724
4,1008128171,RCP2.6,2027.0,ARE,NaN,NaN,NaN,NaN,NaN,NaN,0.002724
...,...,...,...,...,...,...,...,...,...,...,...
1227,1008128171,RCP2.6,2046.0,ZMB,1.037457e+07,1.911507e+06,44122.828758,8129.594909,92325.643515,17010.923882,0.000049
1228,1008128171,RCP2.6,2047.0,ZMB,1.048448e+07,1.805381e+06,47901.269959,8248.382797,96264.028662,16576.231875,0.000053
1229,1008128171,RCP2.6,2048.0,ZMB,1.059439e+07,1.704960e+06,51679.711161,8316.834899,100202.413810,16125.611259,0.000058
1230,1008128171,RCP2.6,2049.0,ZMB,1.070430e+07,1.609951e+06,55458.152362,8341.028813,104140.798957,15663.006567,0.000062
1231,1008128171,RCP2.6,2050.0,ZMB,1.081421e+07,1.520076e+06,59236.593564,8326.462363,108079.184104,15191.914399,0.000066

In [63]:
aggregated_df = final_df.groupby(
    ['entity_id', 'scenario_code', 'phys_year']
).agg(
    expected_revenue_loss_amount_series_undiscounted=pd.NamedAgg(column='expected_revenue_loss_amount_series_undiscounted', aggfunc='sum'),
    expected_asset_damage_loss_amount_series_undiscounted=pd.NamedAgg(column='expected_asset_damage_loss_amount_series_undiscounted', aggfunc='sum'),
    expected_indirect_loss_amount_series_undiscounted=pd.NamedAgg(column='expected_indirect_loss_amount_series_undiscounted', aggfunc='sum'),
    expected_revenue_loss_amount_series_discounted=pd.NamedAgg(column='expected_revenue_loss_amount_series_discounted', aggfunc='sum'),
    expected_asset_damage_loss_amount_series_discounted=pd.NamedAgg(column='expected_asset_damage_loss_amount_series_discounted', aggfunc='sum'),
    expected_indirect_loss_amount_series_discounted=pd.NamedAgg(column='expected_indirect_loss_amount_series_discounted', aggfunc='sum')
).reset_index()
aggregated_df.head()

,entity_id,scenario_code,phys_year,expected_revenue_loss_amount_series_undiscounted,expected_asset_damage_loss_amount_series_undiscounted,expected_indirect_loss_amount_series_undiscounted,expected_revenue_loss_amount_series_discounted,expected_asset_damage_loss_amount_series_discounted,expected_indirect_loss_amount_series_discounted
0,1008128171,RCP2.6,2023.0,1.397532e+07,2.849498e+07,3.271117e+07,1.220658e+07,2.488862e+07,2.857120e+07
1,1008128171,RCP2.6,2024.0,1.406028e+07,2.853672e+07,3.326837e+07,1.147738e+07,2.329447e+07,2.715690e+07
2,1008128171,RCP2.6,2025.0,1.414525e+07,2.857846e+07,3.382556e+07,1.079134e+07,2.180237e+07,2.580536e+07
3,1008128171,RCP2.6,2026.0,1.421766e+07,2.860469e+07,3.431520e+07,1.013699e+07,2.039475e+07,2.446627e+07
4,1008128171,RCP2.6,2027.0,1.429006e+07,2.863091e+07,3.480484e+07,9.522073e+06,1.907798e+07,2.319193e+07
5,1008128171,RCP2.6,2028.0,1.436247e+07,2.865713e+07,3.529447e+07,8.944225e+06,1.784622e+07,2.197962e+07
6,1008128171,RCP2.6,2029.0,1.443488e+07,2.868336e+07,3.578410e+07,8.401231e+06,1.669397e+07,2.082667e+07
7,1008128171,RCP2.6,2030.0,1.450729e+07,2.870958e+07,3.627373e+07,7.891003e+06,1.561611e+07,1.973050e+07
8,1008128171,RCP2.6,2031.0,1.457297e+07,2.873702e+07,3.680213e+07,7.408157e+06,1.460845e+07,1.870833e+07
9,1008128171,RCP2.6,2032.0,1.463865e+07,2.876446e+07,3.733052e+07,6.954715e+06,1.366579e+07,1.773546e+07
10,1008128171,RCP2.6,2033.0,1.470433e+07,2.879191e+07,3.785891e+07,6.528897e+06,1.278395e+07,1.680981e+07
11,1008128171,RCP2.6,2034.0,1.477001e+07,2.881935e+07,3.838729e+07,6.129027e+06,1.195901e+07,1.592936e+07
12,1008128171,RCP2.6,2035.0,1.483568e+07,2.884679e+07,3.891566e+07,5.753534e+06,1.118728e+07,1.509216e+07
13,1008128171,RCP2.6,2036.0,1.492404e+07,2.888934e+07,3.937138e+07,5.409159e+06,1.047083e+07,1.427000e+07
14,1008128171,RCP2.6,2037.0,1.501240e+07,2.893189e+07,3.982710e+07,5.085219e+06,9.800234e+06,1.349082e+07
15,1008128171,RCP2.6,2038.0,1.510075e+07,2.897445e+07,4.028281e+07,4.780512e+06,9.172568e+06,1.275250e+07
16,1008128171,RCP2.6,2039.0,1.518911e+07,2.901700e+07,4.073851e+07,4.493910e+06,8.585083e+06,1.205305e+07
17,1008128171,RCP2.6,2040.0,1.527747e+07,2.905955e+07,4.119420e+07,4.224347e+06,8.035208e+06,1.139054e+07
18,1008128171,RCP2.6,2041.0,1.539425e+07,2.912158e+07,4.164146e+07,3.978168e+06,7.525570e+06,1.076095e+07
19,1008128171,RCP2.6,2042.0,1.551104e+07,2.918361e+07,4.208871e+07,3.746120e+06,7.048224e+06,1.016498e+07
20,1008128171,RCP2.6,2043.0,1.562783e+07,2.924564e+07,4.253596e+07,3.527407e+06,6.601126e+06,9.600926e+06
21,1008128171,RCP2.6,2044.0,1.574462e+07,2.930767e+07,4.298319e+07,3.321278e+06,6.182362e+06,9.067170e+06
22,1008128171,RCP2.6,2045.0,1.586140e+07,2.936970e+07,4.343042e+07,3.127022e+06,5.790137e+06,8.562160e+06
23,1008128171,RCP2.6,2046.0,1.598377e+07,2.943630e+07,4.391278e+07,2.944996e+06,5.423614e+06,8.090894e+06
24,1008128171,RCP2.6,2047.0,1.610613e+07,2.950290e+07,4.439514e+07,2.773403e+06,5.080266e+06,7.644642e+06
25,1008128171,RCP2.6,2048.0,1.622850e+07,2.956949e+07,4.487748e+07,2.611658e+06,4.758629e+06,7.222149e+06
26,1008128171,RCP2.6,2049.0,1.635086e+07,2.963609e+07,4.535981e+07,2.459206e+06,4.457333e+06,6.822215e+06
27,1008128171,RCP2.6,2050.0,1.647323e+07,2.970269e+07,4.584213e+07,2.315523e+06,4.175093e+06,6.443698e+06

In [64]:
aggregated_df['expected_direct_damage_loss_amount_series_undiscounted'] = (
    aggregated_df['expected_revenue_loss_amount_series_undiscounted'] + 
    aggregated_df['expected_asset_damage_loss_amount_series_undiscounted']
)

aggregated_df['expected_direct_damage_loss_amount_series_discounted'] = (
    aggregated_df['expected_revenue_loss_amount_series_discounted'] + 
    aggregated_df['expected_asset_damage_loss_amount_series_discounted']
)

aggregated_df['expected_total_loss_amount_series_undiscounted'] = (
    aggregated_df['expected_direct_damage_loss_amount_series_undiscounted'] + 
    aggregated_df['expected_indirect_loss_amount_series_undiscounted']
)

aggregated_df['expected_total_loss_amount_series_discounted'] = (
    aggregated_df['expected_direct_damage_loss_amount_series_discounted'] + 
    aggregated_df['expected_indirect_loss_amount_series_discounted'] )

aggregated_df = aggregated_df.sort_values(by=['entity_id', 'scenario_code', 'phys_year'])

In [65]:
aggregated_df = aggregated_df.rename(columns = {"scenario_code" :"rcp_scenario", "phys_year" : "physical_impact_year"
})
aggregated_df['physical_impact_year'] = aggregated_df['physical_impact_year'].astype(int)

In [66]:
damage_df = aggregated_df[["entity_id","rcp_scenario","physical_impact_year","expected_revenue_loss_amount_series_undiscounted","expected_asset_damage_loss_amount_series_undiscounted","expected_direct_damage_loss_amount_series_undiscounted","expected_indirect_loss_amount_series_undiscounted","expected_revenue_loss_amount_series_discounted","expected_asset_damage_loss_amount_series_discounted","expected_direct_damage_loss_amount_series_discounted","expected_indirect_loss_amount_series_discounted","expected_total_loss_amount_series_undiscounted","expected_total_loss_amount_series_discounted"]]

In [74]:
damage_df.head()

,entity_id,rcp_scenario,physical_impact_year,expected_revenue_loss_amount_series_undiscounted,expected_asset_damage_loss_amount_series_undiscounted,expected_direct_damage_loss_amount_series_undiscounted,expected_indirect_loss_amount_series_undiscounted,expected_revenue_loss_amount_series_discounted,expected_asset_damage_loss_amount_series_discounted,expected_direct_damage_loss_amount_series_discounted,expected_indirect_loss_amount_series_discounted,expected_total_loss_amount_series_undiscounted,expected_total_loss_amount_series_discounted
0,1008128171,RCP2.6,2023,1.397532e+07,2.849498e+07,4.247030e+07,3.271117e+07,1.220658e+07,2.488862e+07,3.709521e+07,2.857120e+07,7.518147e+07,6.566641e+07
1,1008128171,RCP2.6,2024,1.406028e+07,2.853672e+07,4.259701e+07,3.326837e+07,1.147738e+07,2.329447e+07,3.477185e+07,2.715690e+07,7.586537e+07,6.192874e+07
2,1008128171,RCP2.6,2025,1.414525e+07,2.857846e+07,4.272371e+07,3.382556e+07,1.079134e+07,2.180237e+07,3.259371e+07,2.580536e+07,7.654927e+07,5.839907e+07
3,1008128171,RCP2.6,2026,1.421766e+07,2.860469e+07,4.282234e+07,3.431520e+07,1.013699e+07,2.039475e+07,3.053174e+07,2.446627e+07,7.713754e+07,5.499800e+07
4,1008128171,RCP2.6,2027,1.429006e+07,2.863091e+07,4.292097e+07,3.480484e+07,9.522073e+06,1.907798e+07,2.860006e+07,2.319193e+07,7.772581e+07,5.179199e+07

In [68]:
damage_df.to_csv('calculated_damage.csv',index=False)

## Testing

In [69]:
# interp_country_indirect_probability_set = interp_country_indirect_probability_set.rename( columns = { 'phys_year'})
# interp_country_indirect_probability_set.head()

In [70]:
# ff = df.copy()
# ff = ff.merge(interp_country_indirect_probability_set, on=['entity_id','scenario_code','country','phys_year'])
# ff
# ff['expected_indirect_loss_amount_series_undiscounted'] = np.where(
#     (ff['revenue_avg_usd'] < 0) | (ff['gppe_avg_usd'] < 0) | (ff['avg_country_revenue_usd'] < 0), 
#     np.nan, 
#     ff['interp_indirect_probability'] * ff['avg_country_revenue_usd']
# )

In [71]:
# ff[ff['phys_year']==2023] [['entity_id', 'scenario_code', 'phys_year','country','avg_country_revenue_usd']]

In [72]:
# ff.groupby(
#     ['entity_id', 'scenario_code', 'phys_year'], as_index=False
# ).agg(expected_indirect_loss_amount_series_undiscounted = ('expected_indirect_loss_amount_series_undiscounted','sum'))#['expected_indirect_loss_amount_series_undiscounted'][0]

In [73]:
# 3162741.531455139073 -3162741.6333086947