In [1]:
from utilities import process_all_files_from_directory
import pandas as pd
import numpy as np
import os
# import pyarrow

In [2]:
Data_Quality_Indicator = 'C:/Users/jkumava/Downloads/PCRM/1008128171/RCP_26/ID_1008128171_Data Quality Indicator.csv'
base_path = os.path.dirname(Data_Quality_Indicator)
comp_id = "ID_1008128171"

In [3]:
df_import_years = pd.DataFrame( [
	{
		"year" : 2030,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2050,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2035,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2040,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2045,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2025,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2030,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2050,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2100,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2023,
		"active" : 1,
		"table_name" : "damage"
	},
	{
		"year" : 2023,
		"active" : 1,
		"table_name" : "global"
	},
    {
		"year" : 2027,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2028,
		"active" : 1,
		"table_name" : "global"
	},
	{
		"year" : 2022,
		"active" : 1,
		"table_name" : "global"
	}
])
df_import_years

    year  active table_name
0   2030       1     damage
1   2050       1     damage
2   2035       1     damage
3   2040       1     damage
4   2045       1     damage
5   2025       1     damage
6   2030       1     global
7   2050       1     global
8   2100       1     global
9   2023       1     damage
10  2023       1     global
11  2027       1     global
12  2028       1     global
13  2022       1     global

In [16]:
df_full = pd.read_csv("out/full_calc/ID_1008128171_df_full_calculated.csv")#,engine='pyarrow',dtype_backend='pyarrow')
df_full.head()

,sustcompanyid,Scenario,Country,peergroup,hazard_type,Year,sum_hazard_risk,avg_hazard_risk,CompanyName,count_assets_with_asset_damage_risk,...,Count,ReplacementCost,Turnover,total_assets_count,clientindustryid,clientindustryname,percent_of_assets_in_country,weighted_avg_hazard_risk,weighted_prodloss,weighted_productive_capacity_loss_days
0,1008128171,RCP2.6,ARE,Precious Metals,Coastal Inundation,2022,0.0,0.0,Barrick Gold Corp.,0,...,1,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.0,0.0,0.0
1,1008128171,RCP2.6,ARE,Precious Metals,Coastal Inundation,2023,0.0,0.0,Barrick Gold Corp.,0,...,1,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.0,0.0,0.0
2,1008128171,RCP2.6,ARE,Precious Metals,Coastal Inundation,2025,0.0,0.0,Barrick Gold Corp.,0,...,1,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.0,0.0,0.0
3,1008128171,RCP2.6,ARE,Precious Metals,Coastal Inundation,2027,0.0,0.0,Barrick Gold Corp.,0,...,1,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.0,0.0,0.0
4,1008128171,RCP2.6,ARE,Precious Metals,Coastal Inundation,2028,0.0,0.0,Barrick Gold Corp.,0,...,1,1000000.0,2000000,583,151019.0,Precious Metals,0.001715,0.0,0.0,0.0

In [23]:
active_import_years = df_import_years.query("active == True and table_name == 'damage'")['year']
active_import_years

0    2030
1    2050
2    2035
3    2040
4    2045
5    2025
9    2023
Name: year, dtype: int64

In [24]:
fc = df_full[df_full['Year'].isin(active_import_years)]
fc = fc.query("(peergroup not in ['Insurance', 'Banks', 'Diversified Financials', 'Real Estate'] ) and Year > 2020 and Year < 2051")

In [25]:
fc_grouped = fc_grouped = fc.groupby(['sustcompanyid', 'Scenario', 'Country', 'Year']).agg(
    productive_capacity_loss=('productive_capacity_loss', 'sum'),
    country_asset_damage_risk=('avg_hazard_risk', 'sum')
).reset_index()

In [26]:
import_years =  (2030,2050,2100,2045,2035,2040,2025,2022,2027,2023,2028)

In [27]:
fc_grouped.head()

,sustcompanyid,Scenario,Country,Year,productive_capacity_loss,country_asset_damage_risk
0,1008128171,RCP2.6,ARE,2023,0.002724,0.000049
1,1008128171,RCP2.6,ARE,2025,0.002724,0.000050
2,1008128171,RCP2.6,ARE,2030,0.002724,0.000051
3,1008128171,RCP2.6,ARE,2035,0.002724,0.000052
4,1008128171,RCP2.6,ARE,2040,0.002724,0.000053

In [29]:
fmi_df = pd.read_csv(base_path+f'/{comp_id}_First Mile Indicator.csv')
fmi_df['entity_id'] = fmi_df['CompanyID'].str.replace('ID_','').astype(int)
fmi_df['FMI'] = pd.to_numeric(fmi_df['FMI'], errors='coerce')

fmi_df = fmi_df[fmi_df['Year'].isin(import_years)].reset_index(drop=True)
fmi_df = fmi_df.rename(columns = {'country': 'Country', "year" : "Year" ,'scenario_code' : 'Scenario','fmi':'FMI'
    
} )

In [34]:
p = fmi_df[['entity_id','Scenario', 'Country', 'Year', 'FMI']]

In [35]:
p = p.merge(fc_grouped, left_on=['entity_id', 'Country', 'Year', 'Scenario'], right_on=['sustcompanyid', 'Country', 'Year', 'Scenario'])
p

,entity_id,Scenario,Country,Year,FMI,sustcompanyid,productive_capacity_loss,country_asset_damage_risk
0,1008128171,RCP2.6,ARE,2023,0.002134,1008128171,0.002724,0.000049
1,1008128171,RCP2.6,ARE,2025,0.002413,1008128171,0.002724,0.000050
2,1008128171,RCP2.6,ARE,2030,0.003351,1008128171,0.002724,0.000051
3,1008128171,RCP2.6,ARE,2035,0.005072,1008128171,0.002724,0.000052
4,1008128171,RCP2.6,ARE,2040,0.006466,1008128171,0.002724,0.000053
...,...,...,...,...,...,...,...,...
303,1008128171,RCP2.6,ZMB,2030,0.008955,1008128171,0.000017,0.000058
304,1008128171,RCP2.6,ZMB,2035,0.009765,1008128171,0.000022,0.000062
305,1008128171,RCP2.6,ZMB,2040,0.010616,1008128171,0.000031,0.000069
306,1008128171,RCP2.6,ZMB,2045,0.011426,1008128171,0.000045,0.000080
307,1008128171,RCP2.6,ZMB,2050,0.012038,1008128171,0.000066,0.000098

In [36]:
p['indirect_probability'] = p['FMI'] - p['productive_capacity_loss'] * p['FMI']

In [37]:
final_result = p[['entity_id', 'Year', 'Country', 'Scenario', 'FMI', 'country_asset_damage_risk', 'productive_capacity_loss', 'indirect_probability']]

In [38]:
final_result.to_csv('p_calculated.csv',index=False)

In [42]:
z = p[['entity_id', 'Year', 'Country', 'Scenario', 'indirect_probability']]
z['lead_year'] = z.groupby(['entity_id', 'Scenario', 'Country'])['Year'].shift(-1)
z['lead_indirect_probability'] = z.groupby(['entity_id', 'Scenario', 'Country'])['indirect_probability'].shift(-1)
z

C:\Users\jkumava\AppData\Local\Temp\ipykernel_37352\3185030445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['lead_year'] = z.groupby(['entity_id', 'Scenario', 'Country'])['Year'].shift(-1)
C:\Users\jkumava\AppData\Local\Temp\ipykernel_37352\3185030445.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  z['lead_indirect_probability'] = z.groupby(['entity_id', 'Scenario', 'Country'])['indirect_probability'].shift(-1)

,entity_id,Year,Country,Scenario,indirect_probability,lead_year,lead_indirect_probability
0,1008128171,2023,ARE,RCP2.6,0.002128,2025.0,0.002407
1,1008128171,2025,ARE,RCP2.6,0.002407,2030.0,0.003342
2,1008128171,2030,ARE,RCP2.6,0.003342,2035.0,0.005058
3,1008128171,2035,ARE,RCP2.6,0.005058,2040.0,0.006449
4,1008128171,2040,ARE,RCP2.6,0.006449,2045.0,0.006903
...,...,...,...,...,...,...,...
303,1008128171,2030,ZMB,RCP2.6,0.008955,2035.0,0.009765
304,1008128171,2035,ZMB,RCP2.6,0.009765,2040.0,0.010616
305,1008128171,2040,ZMB,RCP2.6,0.010616,2045.0,0.011426
306,1008128171,2045,ZMB,RCP2.6,0.011426,2050.0,0.012038
307,1008128171,2050,ZMB,RCP2.6,0.012038,NaN,NaN

In [48]:
def get_interpolation(start_year, end_year, start_val, end_val):
    if start_year <= end_year:
        years = np.arange(start_year, end_year + 1)
        if start_val != end_val:
            values = np.linspace(start_val, end_val, len(years))
        else:
            values = np.full(len(years), start_val)
        return pd.DataFrame({'interp_year': years, 'interp_value': values})
    else:
        return pd.DataFrame()

In [43]:
interp_country_indirect_probability_set = pd.concat([
    get_interpolation(
        row['Year'], 
        row['lead_year'] if row['lead_year'] is not None else row['Year'],
        row['indirect_probability'], 
        row['lead_indirect_probability'] if row['lead_indirect_probability'] is not None else row['indirect_probability']
    ).assign(entity_id=row['entity_id'], scenario_code=row['Scenario'], country=row['Country'])
    for _, row in z.iterrows()
])
interp_country_indirect_probability_set

    interp_year  interp_value   entity_id scenario_code country
0        2023.0      0.002128  1008128171        RCP2.6     ARE
1        2024.0      0.002268  1008128171        RCP2.6     ARE
2        2025.0      0.002407  1008128171        RCP2.6     ARE
0        2025.0      0.002407  1008128171        RCP2.6     ARE
1        2026.0      0.002594  1008128171        RCP2.6     ARE
..          ...           ...         ...           ...     ...
1        2046.0      0.011548  1008128171        RCP2.6     ZMB
2        2047.0      0.011671  1008128171        RCP2.6     ZMB
3        2048.0      0.011793  1008128171        RCP2.6     ZMB
4        2049.0      0.011915  1008128171        RCP2.6     ZMB
5        2050.0      0.012038  1008128171        RCP2.6     ZMB

[1452 rows x 5 columns]

In [47]:
interp_country_indirect_probability_set = interp_country_indirect_probability_set.rename(
    columns={'interp_year': 'phys_year', 'interp_value': 'interp_indirect_probability'}
)
interp_country_indirect_probability_set = interp_country_indirect_probability_set.drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'phys_year']).reset_index(drop=True)
interp_country_indirect_probability_set

      phys_year  interp_indirect_probability   entity_id scenario_code country
0        2023.0                     0.002128  1008128171        RCP2.6     ARE
1        2024.0                     0.002268  1008128171        RCP2.6     ARE
2        2025.0                     0.002407  1008128171        RCP2.6     ARE
3        2026.0                     0.002594  1008128171        RCP2.6     ARE
4        2027.0                     0.002781  1008128171        RCP2.6     ARE
...         ...                          ...         ...           ...     ...
1227     2046.0                     0.011548  1008128171        RCP2.6     ZMB
1228     2047.0                     0.011671  1008128171        RCP2.6     ZMB
1229     2048.0                     0.011793  1008128171        RCP2.6     ZMB
1230     2049.0                     0.011915  1008128171        RCP2.6     ZMB
1231     2050.0                     0.012038  1008128171        RCP2.6     ZMB

[1232 rows x 5 columns]

In [45]:
# country_productive_capacity_loss = p.copy()
# country_productive_capacity_loss['lead_year'] = country_productive_capacity_loss.groupby(['entity_id', 'scenario_code', 'Country'])['Year'].shift(-1)
# country_productive_capacity_loss['lead_country_productive_capacity_loss'] = country_productive_capacity_loss.groupby(
#                                             ['entity_id', 'scenario_code', 'Country'])['country_productive_capacity_loss'].shift(-1)

# # Step 2: Apply the get_interpolation function and concatenate results
# interp_country_productive_capacity_loss_set = pd.concat([
#     get_interpolation(
#         row['Year'], 
#         row['lead_year'] if row['lead_year'] is not None else row['Year'],
#         row['country_productive_capacity_loss'], 
#         row['lead_country_productive_capacity_loss'] if row['lead_country_productive_capacity_loss'] is not None else row['country_productive_capacity_loss']
#     ).assign(entity_id=row['entity_id'], scenario_code=row['scenario_code'], country=row['Country'])
#     for _, row in country_productive_capacity_loss.iterrows()
# ])

In [ ]:
# interp_country_indirect_probability_set[interp_country_indirect_probability_set['country']=='ARE']

In [46]:
'''select sustcompanyid , revenue_avg_usd , gppe_avg_usd
        from xdi_input.company_global_ppe  
'''
company_global_ppe = pd.read_csv('C:/Users/jkumava/Downloads/PCRM/company_global_ppe_202407111106.csv')
company_global_ppe = company_global_ppe[company_global_ppe['fl_deleted']!=True][['sustcompanyid' , 'revenue_avg_usd' , 'gppe_avg_usd']]
company_global_ppe

       sustcompanyid  revenue_avg_usd  gppe_avg_usd
0         2000140868              NaN  2.087653e+07
1         1008049895     4.827023e+09  2.286134e+09
2         1008177948     2.672657e+09  1.771314e+09
3         2001722369              NaN  8.221802e+06
4         2004493237              NaN  2.191915e+08
...              ...              ...           ...
46718     2000505558              NaN  2.595591e+08
46719     2000181128              NaN  1.734592e+05
46720     2001710123              NaN  2.846011e+07
46721     2001226080              NaN  1.342919e+05
46722     2009598471              NaN  6.697105e+05

[46723 rows x 3 columns]

In [ ]:
# def get_interpolation(start_year, end_year, start_val, end_val):
#     years = np.arange(start_year, end_year + 1)
#     print(len(years))
#     if start_val != end_val:
#         values = np.linspace(start_val, end_val, len(years))
#     else:
#         values = np.full(len(years), start_val)
#     return pd.DataFrame({'interp_year': years, 'interp_value': values})

## xdi_processing.udf_get_damage_interpolated_per_entity( entity_id)

In [49]:
p = p.rename(columns= {'productive_capacity_loss':'country_productive_capacity_loss'})

In [52]:
country_asset_damage_risk = p.copy()
country_asset_damage_risk['lead_year'] = country_asset_damage_risk.groupby(['entity_id', 'Scenario', 'Country'])['Year'].shift(-1)
country_asset_damage_risk['lead_country_asset_damage_risk'] = country_asset_damage_risk.groupby(['entity_id', 'Scenario', 'Country'])['country_asset_damage_risk'].shift(-1)

In [53]:
p.head()

,entity_id,Scenario,Country,Year,FMI,sustcompanyid,country_productive_capacity_loss,country_asset_damage_risk,indirect_probability
0,1008128171,RCP2.6,ARE,2023,0.002134,1008128171,0.002724,0.000049,0.002128
1,1008128171,RCP2.6,ARE,2025,0.002413,1008128171,0.002724,0.000050,0.002407
2,1008128171,RCP2.6,ARE,2030,0.003351,1008128171,0.002724,0.000051,0.003342
3,1008128171,RCP2.6,ARE,2035,0.005072,1008128171,0.002724,0.000052,0.005058
4,1008128171,RCP2.6,ARE,2040,0.006466,1008128171,0.002724,0.000053,0.006449

In [ ]:
interp_country_asset_damage_risk_set = pd.concat([
    get_interpolation(row['Year'], row['lead_year'] if row['lead_year'] is not None else row['Year'],
                      row['country_asset_damage_risk'], row['lead_country_asset_damage_risk'] if row['lead_country_asset_damage_risk'] is not None else row['country_asset_damage_risk'])
    .assign(entity_id=row['entity_id'], scenario_code=row['scenario_code'], country=row['Country'])
    for _, row in country_asset_damage_risk.iterrows()
])

In [ ]:
interp_country_asset_damage_risk_set = interp_country_asset_damage_risk_set.rename(
    columns={'interp_year': 'phys_year', 'interp_value': 'interp_country_asset_damage_risk'}
)
interp_country_asset_damage_risk_set = interp_country_asset_damage_risk_set.drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'phys_year']).reset_index(drop=True)
interp_country_asset_damage_risk_set

In [ ]:
country_productive_capacity_loss = p.copy()
country_productive_capacity_loss['lead_year'] = country_productive_capacity_loss.groupby(['entity_id', 'scenario_code', 'Country'])['Year'].shift(-1)
country_productive_capacity_loss['lead_country_productive_capacity_loss'] = country_productive_capacity_loss.groupby(
                                            ['entity_id', 'scenario_code', 'Country'])['country_productive_capacity_loss'].shift(-1)

# Step 2: Apply the get_interpolation function and concatenate results
interp_country_productive_capacity_loss_set = pd.concat([
    get_interpolation(
        row['Year'], 
        row['lead_year'] if row['lead_year'] is not None else row['Year'],
        row['country_productive_capacity_loss'], 
        row['lead_country_productive_capacity_loss'] if row['lead_country_productive_capacity_loss'] is not None else row['country_productive_capacity_loss']
    ).assign(entity_id=row['entity_id'], scenario_code=row['scenario_code'], country=row['Country'])
    for _, row in country_productive_capacity_loss.iterrows()
])

In [ ]:
interp_country_productive_capacity_loss_set.columns

In [ ]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set.merge(
    country_productive_capacity_loss[['entity_id', 'scenario_code', 'Country', 'Year', 'lead_year']],
    left_on=['entity_id', 'scenario_code', 'country', 'interp_year'],
    right_on=['entity_id', 'scenario_code', 'Country', 'Year'],
    how='left'
)

In [ ]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set[
    (interp_country_productive_capacity_loss_set['lead_year'].isnull()) | 
    (interp_country_productive_capacity_loss_set['lead_year'] != interp_country_productive_capacity_loss_set['interp_year'])
]

In [ ]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set.drop(columns=['Year', 'lead_year','Country']).drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'interp_year']).reset_index(drop=True)
interp_country_productive_capacity_loss_set

In [ ]:
interp_country_productive_capacity_loss_set = interp_country_productive_capacity_loss_set.rename(
    columns={'interp_year': 'phys_year', 'interp_value': 'interp_country_productive_capacity_loss'}
)[['entity_id', 'scenario_code', 'country', 'phys_year', 'interp_country_productive_capacity_loss']]

In [ ]:
interp_country_productive_capacity_loss_set['phys_year'] = interp_country_productive_capacity_loss_set['phys_year'].astype(int)

In [ ]:
interp_country_productive_capacity_loss_set[interp_country_productive_capacity_loss_set['country']=='ARE']

In [ ]:
# first_mile_indicator DataFrame
first_mile_indicator = p.rename(columns = {'Country':'country' ,"Year" : "year"    
}).copy()
first_mile_indicator['lead_year'] = first_mile_indicator.groupby(['entity_id', 'scenario_code', 'country'])['year'].shift(-1)
first_mile_indicator['lead_fmi'] = first_mile_indicator.groupby(['entity_id', 'scenario_code', 'country'])['FMI'].shift(-1)

# interp_fmi_treated_set DataFrame
interp_fmi_treated_set = pd.concat([
    get_interpolation(row['year'], row['lead_year'] if row['lead_year'] is not None else row['year'],
                      row['FMI'], row['lead_fmi'] if row['lead_fmi'] is not None else row['fmi'])
    .assign(entity_id=row['entity_id'], scenario_code=row['scenario_code'], country=row['country'])
    for _, row in first_mile_indicator.iterrows()
])
interp_fmi_treated_set = interp_fmi_treated_set.rename(
    columns={'interp_year': 'phys_year', 'interp_value': 'interp_FMI'}
)
interp_fmi_treated_set = interp_fmi_treated_set.drop_duplicates(subset=['country', 'entity_id', 'scenario_code', 'phys_year']).reset_index(drop=True)
interp_fmi_treated_set

## Need confirmation that will be is from DB or from XDI?

In [ ]:
company_segmented_country_averages = pd.read_csv('C:/Users/jkumava/Downloads/PCRM/company_segmented_country_averages_202407141433.csv')
company_segmented_country_averages = company_segmented_country_averages[company_segmented_country_averages ['fl_deleted']!=True].reset_index(drop=True)
company_segmented_country_averages.head()

In [ ]:
company_segmented_country_averages[company_segmented_country_averages['sustcompanyid'] == 1008128171]

In [ ]:
asset_country_averages = company_segmented_country_averages[
    (company_segmented_country_averages['segment_data_point'] == 'Total Assets')][['sustcompanyid', 'iso3', 'country_segmented_avg_usd']]
asset_country_averages

In [ ]:
revenue_country_averages = company_segmented_country_averages[
    (company_segmented_country_averages['segment_data_point'] == 'Total Revenue')][['sustcompanyid', 'iso3', 'country_segmented_avg_usd']]
revenue_country_averages = revenue_country_averages.rename(columns={'country_segmented_avg_usd': 'avg_country_revenue_usd'})
revenue_country_averages

In [ ]:
assets_and_revenue_averages = pd.merge(
    asset_country_averages,
    revenue_country_averages,
    on=['sustcompanyid', 'iso3'],
    how='inner'
)
assets_and_revenue_averages

In [ ]:
global_assets_and_revenue_averages = assets_and_revenue_averages.groupby('sustcompanyid')['country_segmented_avg_usd'].sum().reset_index()
global_assets_and_revenue_averages = global_assets_and_revenue_averages.rename(columns={'country_segmented_avg_usd': 'global_assets_country_segmented_avg_usd'})

In [ ]:
global_assets_and_revenue_averages

In [ ]:
assets_and_revenue_averages_final = pd.merge(
    assets_and_revenue_averages,
    global_assets_and_revenue_averages,
    on='sustcompanyid',
    how='inner'
)

In [ ]:
assets_and_revenue_averages_final['avg_country_asset_proportion'] = (
    assets_and_revenue_averages_final['country_segmented_avg_usd'] / 
    assets_and_revenue_averages_final['global_assets_country_segmented_avg_usd']
)

In [ ]:
assets_and_revenue_averages_final

In [ ]:
assets_and_revenue_averages_final.columns

In [ ]:
df = interp_country_asset_damage_risk_set.merge(
    interp_country_productive_capacity_loss_set,
    on=['entity_id', 'scenario_code', 'country', 'phys_year'],
    how='outer',
    suffixes=('_ias', '_ips') 
).merge(
    interp_fmi_treated_set,
    on=['entity_id', 'scenario_code', 'country', 'phys_year'],
    how='outer',
    suffixes=('', '_iis')
).merge(
    assets_and_revenue_averages_final,
    left_on=['entity_id', 'country'],
    right_on=['sustcompanyid', 'iso3'],
    how='left'
).merge(
    company_global_ppe,
    left_on='entity_id',
    right_on='sustcompanyid',
    how='left'
)

In [ ]:
assets_and_revenue_averages_final[assets_and_revenue_averages_final['sustcompanyid']==1008128171]

In [ ]:
df['expected_indirect_loss_amount_series_undiscounted'] = np.where(
    (df['revenue_avg_usd'] < 0) | (df['gppe_avg_usd'] < 0) | (df['avg_country_revenue_usd'] < 0), 
    np.nan, 
    (df['interp_FMI'] - df['interp_country_productive_capacity_loss'] * df['interp_FMI']) * df['avg_country_revenue_usd']
)

df['expected_indirect_loss_amount_series_discounted'] = df['expected_indirect_loss_amount_series_undiscounted'] / (1.07**(df['phys_year'] - 2021))

df['expected_revenue_loss_amount_series_undiscounted'] = np.where(
    (df['revenue_avg_usd'] < 0) | (df['gppe_avg_usd'] < 0) | (df['avg_country_revenue_usd'] < 0), 
    np.nan, 
    df['interp_country_productive_capacity_loss'] * df['avg_country_revenue_usd']
)

df['expected_revenue_loss_amount_series_discounted'] = df['expected_revenue_loss_amount_series_undiscounted'] / (1.07**(df['phys_year'] - 2021))

df['expected_asset_damage_loss_amount_series_undiscounted'] = np.where(
    (df['revenue_avg_usd'] < 0) | (df['gppe_avg_usd'] < 0), 
    np.nan, 
    df['interp_country_asset_damage_risk'] * df['gppe_avg_usd'] * df['avg_country_asset_proportion']
)

df['expected_asset_damage_loss_amount_series_discounted'] = df['expected_asset_damage_loss_amount_series_undiscounted'] / (1.07**(df['phys_year'] - 2021))

In [ ]:
final_df = df[[
    'entity_id', 'scenario_code', 'phys_year', 'country',
    'expected_indirect_loss_amount_series_undiscounted',
    'expected_indirect_loss_amount_series_discounted',
    'expected_revenue_loss_amount_series_undiscounted',
    'expected_revenue_loss_amount_series_discounted',
    'expected_asset_damage_loss_amount_series_undiscounted',
    'expected_asset_damage_loss_amount_series_discounted',
    'interp_country_productive_capacity_loss'
]]
final_df

In [ ]:
aggregated_df = final_df.groupby(
    ['entity_id', 'scenario_code', 'phys_year']
).agg(
    expected_revenue_loss_amount_series_undiscounted=pd.NamedAgg(column='expected_revenue_loss_amount_series_undiscounted', aggfunc='sum'),
    expected_asset_damage_loss_amount_series_undiscounted=pd.NamedAgg(column='expected_asset_damage_loss_amount_series_undiscounted', aggfunc='sum'),
    expected_indirect_loss_amount_series_undiscounted=pd.NamedAgg(column='expected_indirect_loss_amount_series_undiscounted', aggfunc='sum'),
    expected_revenue_loss_amount_series_discounted=pd.NamedAgg(column='expected_revenue_loss_amount_series_discounted', aggfunc='sum'),
    expected_asset_damage_loss_amount_series_discounted=pd.NamedAgg(column='expected_asset_damage_loss_amount_series_discounted', aggfunc='sum'),
    expected_indirect_loss_amount_series_discounted=pd.NamedAgg(column='expected_indirect_loss_amount_series_discounted', aggfunc='sum')
).reset_index()
aggregated_df

In [ ]:
aggregated_df['expected_direct_damage_loss_amount_series_undiscounted'] = (
    aggregated_df['expected_revenue_loss_amount_series_undiscounted'] + 
    aggregated_df['expected_asset_damage_loss_amount_series_undiscounted']
)

aggregated_df['expected_direct_damage_loss_amount_series_discounted'] = (
    aggregated_df['expected_revenue_loss_amount_series_discounted'] + 
    aggregated_df['expected_asset_damage_loss_amount_series_discounted']
)

aggregated_df['expected_total_loss_amount_series_undiscounted'] = (
    aggregated_df['expected_direct_damage_loss_amount_series_undiscounted'] + 
    aggregated_df['expected_indirect_loss_amount_series_undiscounted']
)

aggregated_df['expected_total_loss_amount_series_discounted'] = (
    aggregated_df['expected_direct_damage_loss_amount_series_discounted'] + 
    aggregated_df['expected_indirect_loss_amount_series_discounted'] )

aggregated_df = aggregated_df.sort_values(by=['entity_id', 'scenario_code', 'phys_year'])

In [ ]:
aggregated_df = aggregated_df.rename(columns = {"scenario_code" :"rcp_scenario", "phys_year" : "physical_impact_year"
})
aggregated_df['physical_impact_year'] = aggregated_df['physical_impact_year'].astype(int)

In [ ]:
damage_df = aggregated_df[["entity_id","rcp_scenario","physical_impact_year","expected_revenue_loss_amount_series_undiscounted","expected_asset_damage_loss_amount_series_undiscounted","expected_direct_damage_loss_amount_series_undiscounted","expected_indirect_loss_amount_series_undiscounted","expected_revenue_loss_amount_series_discounted","expected_asset_damage_loss_amount_series_discounted","expected_direct_damage_loss_amount_series_discounted","expected_indirect_loss_amount_series_discounted","expected_total_loss_amount_series_undiscounted","expected_total_loss_amount_series_discounted"]]

In [ ]:
damage_df

In [ ]:
damage_df.to_csv('calculated_damage.csv',index=False)

## Testing

In [ ]:
# interp_country_indirect_probability_set = interp_country_indirect_probability_set.rename( columns = { 'phys_year'})
# interp_country_indirect_probability_set.head()

In [ ]:
# ff = df.copy()
# ff = ff.merge(interp_country_indirect_probability_set, on=['entity_id','scenario_code','country','phys_year'])
# ff
# ff['expected_indirect_loss_amount_series_undiscounted'] = np.where(
#     (ff['revenue_avg_usd'] < 0) | (ff['gppe_avg_usd'] < 0) | (ff['avg_country_revenue_usd'] < 0), 
#     np.nan, 
#     ff['interp_indirect_probability'] * ff['avg_country_revenue_usd']
# )

In [ ]:
# ff[ff['phys_year']==2023] [['entity_id', 'scenario_code', 'phys_year','country','avg_country_revenue_usd']]

In [ ]:
# ff.groupby(
#     ['entity_id', 'scenario_code', 'phys_year'], as_index=False
# ).agg(expected_indirect_loss_amount_series_undiscounted = ('expected_indirect_loss_amount_series_undiscounted','sum'))#['expected_indirect_loss_amount_series_undiscounted'][0]

In [ ]:
# 3162741.531455139073 -3162741.6333086947